@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    --Dark-Blue: hsl(240, 38%, 20%);
    --Grayish-Blue: hsl(240, 18%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-panel,
.right-panel {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-panel {
    width: 50%;
    height: 100%;
    background: url('./images/pattern-bg.svg');
    background-size: 84%;
    background-repeat: no-repeat;
    background-position:  -50%;
    align-items: flex-start;
}

.left-top,
.left-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-top {
    background: url(./images/pattern-quotes.svg);
    background-size: 20%;
    background-position: 70%;
    background-repeat: no-repeat;
}

.left-bottom {
    background: url(./images/pattern-curve.svg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.text {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 6.5rem;
}

.text p {
    font-size: 1.3rem;
    color: var(--Dark-Blue);
    margin-bottom: 2rem;
}

.text span {
    color: var(--Grayish-Blue);
}

.right-panel .img {
    width:421px;
    height: 421px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.right-panel .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80px;
    height: 40px;
    border-radius: 25px;
    position: absolute;
    bottom: -20px;
    left:18%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.btn button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 0.5rem; 
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
   .text{
       left: 30%;
       padding: 1px ;
   } 
   .right-panel {
       background-position: 0%;
   }
   .right-panel .img {
    width:350px;
    height: 350px;
    }
    
}
@media screen and (max-width: 400px) {
    body{
        flex-direction: column-reverse;
    }
    .right-panel {
        align-items: center;
    }
    .text{
        left: 50%;
        top: 90%;
        padding: 1px ;
        width: 90%; 
    } 
    .right-panel {
        width: 100%;
        background-position: bottom;
        background-size: 100%;
    }
    .right-panel .img {
        width:280px;
        height: 280px;
        }
     .btn{
         left: 50%;
         transform: translateX(-50%);
     }
 }
